<%= form_for(@person, builder: BootstrapFormBuilder) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label(:name, t('people.name') ) %>
  <%= f.bootstrap_text_field :name %>

  <%= f.label :avatar %><br>
  <%= f.bootstrap_file_field :avatar %>

  <%= label(:name, t('people.email') ) %>
  <%= f.bootstrap_text_field :email %>

  <%= label(:degree, t('people.degree') ) %>
  <%= f.bootstrap_text_field :degree %>

  <%= label(:short_description, t('people.short_description') ) %>
  <%= f.bootstrap_text_field :short_description %>

  <%= f.label :full_description %><br>
  <%= f.bootstrap_text_area :full_description %>

  <%= label(:skill, t('people.skill') ) %>
  <%= f.bootstrap_text_field :skill %>

  <%= label(:resume_link, t('people.resume_link') ) %>
  <%= f.bootstrap_url_field :resume_link %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
    <%= link_to 'Atrás', people_path, class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#person_full_description').wysihtml5();
</script>
