<div class="box-header with-border">
  <%= link_to t('edit'), edit_person_path(@person), class: 'btn btn-default' %>
  <%= link_to t('back'), people_path, class: 'btn btn-default' %>
</div>

<div class="box-body">
  <% if(notice) %>
    <div id="notice" class="alert alert-warning" role="alert"><%= notice %></div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <td class="td_show_attribute"><%= t 'people.name' %></td>
      <td><%= @person.name %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.avatar' %></td>
      <td><%= image_tag @person.avatar.url(:medium) %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.email' %></td>
      <td><%= @person.email %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.degree' %></td>
      <td><%= @person.degree %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.short_description' %></td>
      <td><%= @person.short_description.html_safe %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.full_description' %></td>
      <td><%= @person.full_description.html_safe %></td>
    </tr>
    <tr>
      <td class="td_show_attribute"><%= t 'people.skill' %></td>
      <td><%= @person.skill %></td>
    </tr>
  </table>
</div>
