<%= form_for(@recommendation, builder: BootstrapFormBuilder) do |f| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, t('recommendations.name') %><br>
  <%= f.bootstrap_text_field :name %>

  <%= f.label :description, t('recommendations.description') %><br>
  <%= f.bootstrap_text_area :description %>

  <div class="field">
    <%= f.label :person_id, t('recommendations.person') %><br>
    <%= f.select :person_id, options_for_select(Person.all.map{|p|[p.name, p.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
    <%= link_to 'Atrás', recommendations_path, class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript">
  $('#recommendation_description').wysihtml5();
</script>
