<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recommendation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recommendation.description %>
</p>

<p>
  <strong>Person:</strong>
  <%= @recommendation.person_id %>
</p>

<%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
<%= link_to 'Back', recommendations_path %>
