<div class="box-body">
  <%= form_for @job, builder: BootstrapFormBuilder do |f| %>
	<% if @job.errors.any? %>
      <div class="alert alert-danger" role="alert">
		<h2><%= t(:error_count, count: @job.errors.count) %></h2>
		<ul>
		  <% @job.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		</ul>
	  </div>
	<% end %>

	<%= label(:company_name, t('jobs.company_name') ) %>
	<%= f.bootstrap_text_field :company_name %>

	<%= label(:position, t('jobs.position') ) %>
	<%= f.bootstrap_text_field :position %>

	<%= label(:description, t('jobs.description') ) %><br>
	<%= f.bootstrap_text_area :description %>

	<%= label(:start_at, t('jobs.start') ) %>
	<%= f.bootstrap_month_picker :start_at %>

	<%= label(:end_at, t('jobs.end') ) %>
    <%= check_box_tag 'actual', false, false, style: "margin-left:10px;" %> Actual
	<%= f.bootstrap_month_picker :end_at %>

	<div class="form-group" style="display:none;">
	  <%= label(:person_id, t('jobs.person') ) %><br>
	  <%= f.bootstrap_text_field :person_id, :value => params[:id], :readonly => true %>
	</div>

    <div class="actions">
        <%= f.submit t('jobs.new.add_and_next'), :name => 'commit_next', :class => 'btn btn-default' %>
        <%= f.submit t('jobs.new.add_and_other'), :name => 'commit_other', :class => 'btn btn-default' %>
        <%= link_to 'Atrás', educations_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

  <script type="text/javascript">
	$('#job_description').wysihtml5();
  </script>

<script type="text/javascript">
  $(document).ready(function(){
	$('#actual').change(function(){
	  if(this.checked) {
		$('#job_end_at').val('');
		$('#job_end_at').prop('disabled', true);
	  } else {
		$('#job_end_at').removeAttr('disabled');
	  }
	});
  });
</script>
