<div class="box-body">
  <%= form_for @job, builder: BootstrapFormBuilder do |f| %>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

        <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= label(:company_name) %>
    <%= f.bootstrap_text_field :company_name %>

    <%= f.bootstrap_text_field :position %>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :start %><br>
      <%= f.date_select :start %>
    </div>
    <div class="field">
      <%= f.label :end %><br>
      <%= f.date_select :end %>
    </div>
    <div class="field">
      <%= f.label :person_id %><br>
      <% #f.number_field :person_id %>
      <%= f.collection_select :person_id, Person.all, :id, :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
