<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @job.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @job.end %>
</p>

<p>
  <strong>Person:</strong>
  <%= @job.person_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
