<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @skill.year %>
</p>

<p>
  <strong>Person:</strong>
  <%= @skill.person %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
