<%= form_for(@course, builder: BootstrapFormBuilder) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
            <ul>
                <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= label(:name, t('courses.name') ) %>
    <%= f.bootstrap_text_field :name %>

    <%= label(:description, t('courses.description') ) %>
    <%= f.bootstrap_text_field :description %>

    <div class="form-group" style="display:none;">
        <%= f.label :person_id %>
        <%= f.bootstrap_text_field :person_id, :value => params[:id], :readonly => true %>
    </div>

    <div class="form-group">
        <%= f.submit t('courses.new.add_and_next'), :name => 'commit_next', :class => 'btn btn-default' %>
        <%= f.submit t('courses.new.add_and_other'), :name => 'commit_other', :class => 'btn btn-default' %>
        <%= link_to 'Atrás', educations_path, class: 'btn btn-default' %>
    </div>
<% end %>
