<div class="box-header with-border">
    <%= link_to t('edit'), edit_course_path(@course), class: 'btn btn-default' %>
    <%= link_to t('back'), courses_path, class: 'btn btn-default' %>
</div>

<div class="box-body">
    <% if(notice) %>
        <div id="notice" class="alert alert-warning" role="alert"><%= notice %></div>
    <% end %>

    <table class="table table-bordered">
        <tr>
            <td class="td_show_attribute"><%= t 'courses.name' %></td>
            <td><%= @course.name %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'courses.description' %></td>
            <td><%= @course.description %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'courses.person' %></td>
            <td><%= @course.person_id %></td>
        </tr>
    </table>
</div>
