<%= form_for(@education, builder: BootstrapFormBuilder) do |f| %>
    <% if @education.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

            <ul>
                <% @education.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= label(:entity_name, t('educations.entity_name') ) %>
    <%= f.bootstrap_text_field :entity_name %>

    <%= label(:career, t('educations.career') ) %>
    <%= f.bootstrap_text_field :career %>

    <%= f.label(:start, t('educations.start') ) %>
    <%= f.bootstrap_month_picker :start_at %>

    <%= f.label(:end, t('educations.end') ) %>
    <%= check_box_tag 'actual', false, false, style: "margin-left:10px;" %> Actual
    <%= f.bootstrap_month_picker :end_at %>

    <div class="form-group" style="display:none;">
        <%= f.label :person_id %>
        <%= f.bootstrap_text_field :person_id, :value => params[:id], :readonly => true %>
    </div>

    <div class="actions">
        <%= f.submit t('educations.new.add_and_next'), :name => 'commit_next', :class => 'btn btn-default' %>
        <%= f.submit t('educations.new.add_and_other'), :name => 'commit_other', :class => 'btn btn-default' %>
        <%= link_to 'Atrás', educations_path, class: 'btn btn-default' %>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $('#actual').change(function(){
            if(this.checked) {
                $('#education_end_at').val('');
                $('#education_end_at').prop('disabled', true);
            } else {
                $('#education_end_at').removeAttr('disabled');
            }
        });
    });
</script>
