<%= form_for(@education, builder: BootstrapFormBuilder) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label(:entity_name, t('educations.entity_name') ) %>
  <%= f.bootstrap_text_field :entity_name %>

  <%= label(:career, t('educations.career') ) %>
  <%= f.bootstrap_text_field :career %>

  <%= f.label(:start, t('educations.start') ) %>
  <%= f.bootstrap_date_picker :start %>

  <%= f.label(:end, t('educations.end') ) %>
  <%= f.bootstrap_date_picker_empty :end %>

  <%= check_box_tag 'actual' %> Actual

  <div>
    <%= f.label :person_id %><br>
    <%= f.select :person_id, options_for_select(Person.all.map{|p|[p.name, p.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
    <%= link_to 'Atrás', educations_path, class: 'btn btn-default' %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      language: "es",
      format: "yyyy/mm/dd",
      todayHighlight: true,
      disableTouchKeyboard: true
    });

    $('#actual').change(function(){
      if(this.checked) {
        $('#education_end').val('');
        $('#education_end').prop('disabled', true);
      } else {
        $('#education_end').removeAttr('disabled');
      }
    });

  });
</script>
