<p id="notice"><%= notice %></p>

<p>
  <strong>Entity name:</strong>
  <%= @education.entity_name %>
</p>

<p>
  <strong>Career:</strong>
  <%= @education.career %>
</p>

<p>
  <strong>Start:</strong>
  <%= @education.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @education.end %>
</p>

<p>
  <strong>Person:</strong>
  <%= @education.person_id %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
