<div class="box-header with-border">
    <%= link_to t('edit'), edit_education_path(@education), class: 'btn btn-default' %>
    <%= link_to t('back'), educations_path, class: 'btn btn-default' %>
</div>

<div class="box-body">
    <% if(notice) %>
        <div id="notice" class="alert alert-warning" role="alert"><%= notice %></div>
    <% end %>
    <table class="table table-bordered">
        <tr>
            <td class="td_show_attribute"><%= t 'education.entity_name' %></td>
            <td><%= @education.entity_name %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'education.career' %></td>
            <td><%= @education.career %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'education.start' %></td>
            <td><%= @education.start %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'education.end' %></td>
            <td><%= @education.end %></td>
        </tr>
        <tr>
            <td class="td_show_attribute"><%= t 'education.person' %></td>
            <td><%= @education.person_id %></td>
        </tr>
    </table>
</div>
